<div class="comment">
	<%= gravatar_for user: comment.user, size: "30", class: "comment_avatar"%>
	<span class="comment_author"> <%= comment.user.name %> </span>
	<div class="comment_content">
		<%= raw comment.content %>
	</div>
	reply
</div>