<span class="text_entry inline">		
<%= form_for @post do |f| %>
	<p> <%= f.text_field :title, placeholder: "Title", size: "168", class: "title_field" %> </p>
	<p> <%= f.text_area :content, cols: "170" , rows: "15", class: "content_field rich"%> </p>
	<p class="center"><%= f.submit class: "button" %> </p>
<% end %>
</span>
