<div class="post">
	<%= gravatar_for user:post.user, size: 50, class: "avatar" %>
	<div class="post_topbar">
		<%= link_to post.title, post_path(post), class: "post_title dark-link" %><br>
		<%= link_to post.user.name, user_path(post.user), class: "post_author dark-link"%>
	</div>
	<div class="post_content">
		<%= post.content %>
	</div>
</div>