<div class="post">
	<img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=50" alt="" class="avatar">
	<div class="post_topbar">
		<span class="post_title"><%= post.title %></span>
	</div>
	<div class="post_content">
		<%= post.content %>
	</div>
</div>