@import "bootstrap_config.scss";

#footer {
	position: absolute;
	background: $color-secondary;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding-top: 10px;
	color: black;
}

#footer > .container {
	color: $gray-dark;
}

.navbar.navbar-default.navbar-fixed-top {
	background: $navbar-bg;
	border: none;
}

.navbar_content {
	padding: $padding-base;
	color: $navbar-text;
}

.navbar_content a {
	color: $navbar-text;
}

.navbar_login {
	position: absolute;
	right: 8px;
	font-size: 14px;
	width: 50%;
	text-align: right;
}

.navbar_bottom {
	padding-left: 8px;
}

.navbar_title {
	padding: 8px;
}

.user_profile {
	padding-bottom: 30px;
}

.avatar_down {
	border-radius: $border-radius-base
}

.navbar_avatar{
	border-radius: 5px 0 0 5px;
	border: solid 1px #777;
	margin-top:-2px;
	margin-right:-4px;	

}

.fill_light_grey{
	background-color:#959595;
}
.navbar_button{
	margin-right:15px;
}
.inline {
	display: inline-block;
}

a.dark-link, .dark-link {
	color: $color-link-dark;
}

a.dark-link:hover, .dark-link:hover {
	color: $color-link-dark-hover;
	text-decoration: none;
}