// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap_config.scss";

$comment-height: 30px;

.comment_container{
	background-color: #ffffff;
	border-radius: 0 0 $border-radius-medium  $border-radius-medium;
}

.comment {
	// background: #F2F2F2;
	border-radius: $border-radius-small;
	margin-bottom: 10px;
}

.comment_avatar{
	border-radius: $border-radius-small;
	border: 1px solid $color-border;
}

.comment_author {
	vertical-align: top;
	font-size: .8em;
}

.comment_content {
	min-height: $comment-height;
	margin-left: 32px;
	margin-top: -25px;
	padding: 5px;
}

.comment_info {
	font-size: .8em;
	margin-left: 37px;
}

.offset{
	margin-left:100px;
}
.indent{
	margin-left: 20px;
}

.filled{

	padding:5px;
}
.word_wrap {
	white-space:normal;
	overflow-wrap: break-word;
   word-wrap: break-word;      /* IE */
}