// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap_config.scss";

.grouplist {
	min-height:400px;
}
.grouplist h1{
	font-size: 50pt;
}

.center{
	text-align:center;
}
.divide{
	background-color: #4D4D4D;
	height: 1px;
	margin-top:5px;
	margin-bottom:5px;
}
.link {
	font-size: 20pt;
	font-weight: bold;
	background:transparent;
	border:none;
}

.formdiv {
	width:75%;
}

.title {
	margin-bottom: 20px;
}

.group_link {
	margin-top:10px;
	background: $color-topbar;
	border-radius: $border-radius-small $border-radius-small 0 0;
}
.group_description {
	background: $color-secondary;
	border-radius: 0 0 $border-radius-small $border-radius-small;
}

