// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap_config.scss";

$collapse-width: 768px;

.post .avatar {
	border-radius: $border-radius-base;
	border: solid 1px $color-border;
	position: absolute;
	@media screen and (max-width: $collapse-width) {
		display: none;
	}
}

// Main CSS for the post
.post {
	padding-bottom: 30px;
}

.post .offset {
	margin-left: 60px;
	@media screen and (max-width: $collapse-width) {
		margin-left: 0;
	}
}

.post .topbar {
	position: relative;
	padding: 8px;
	background: $color-topbar;
	border-radius: $border-radius-base $border-radius-base 0 0;
	@media screen and (max-width: $collapse-width) {
		border-radius: 0;
	}
	// min-height: 52px;
}

.topbar:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.post .content {
	padding: 8px;
	background: white;
}

.post .comments {
	padding: 8px;
	background: white;
	border-top: 1px dashed $color-border;
	border-bottom: 2px solid $color-border;
	border-radius: 0 0 $border-radius-small $border-radius-small;
	@media screen and (max-width: $collapse-width) {
		border-radius: 0;
	}
	overflow: hidden;
}

.comments hr {
	margin-top: 8px;
	border-style: dashed;
}

// Elements inside the post's top bar
.post .title {
	padding-bottom: 0;
	font-size: 20px;
	@media screen and (max-width: $collapse-width) {
		font-size: 18px;
	}
	width: auto;
	line-height: 1em;
}

.post_info {
	float: left;
	font-size: small;
	line-height: 1.2em;
}

// Post form
.title_field{
	border-radius: $border-radius-small;	
}

.post_form{
	padding:10px;
	padding-bottom: 45px;
	margin-top:20px;
}

.post_form textarea {
	resize: vertical;
}

.inline {
	display: inline-block;
}

.word_wrap {
	white-space:normal;
	overflow-wrap: break-word;
	word-wrap: break-word;      /* IE */
}

.post_replies {
	margin-left: 60px;
}

.post_titleinfo {
	margin-right: 70px;
}

.post_tree {
	position: absolute;
	right: 4px;
	top: 4px;
	line-height: 1em;
	text-align: right;
}



