// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap_config.scss";


.avatar {
	border-radius: $border-radius-base;
	border: solid 1px #777;
	float: left;
	position: absolute;
}

a.dark-link, .dark-link {
	color: $text-color;
}

// Main CSS for the post
.post {
	margin-bottom: 30px;
	margin-left: 60px;
}

.post_topbar {
	background: #777;
	border-radius: $border-radius-base $border-radius-base 0 0;
	height: 52px;
}

.post_content {
	padding: 8px;
	background: white;
}

.post_comments {
	padding: 8px;
	background: white;
	border-top: 1px dashed $color-border;
	border-bottom: 2px solid $color-border;
	border-radius: 0 0 $border-radius-small $border-radius-small;
}

// Elements inside the post's top bar
.post_title {
	padding-left: 8px;
	padding-bottom: 0;
	font-size: 24px;
}

.post_info {
	float: left;
	margin-top: -8px;
	vertical-align: top;
	vertical-align: bottom;
	padding-left: 8px;
}

// Post form
.title_field{
	border-radius: $border-radius-small;	
}

.text_entry{
	background-color:white;
	padding:10px;
	margin-left:px;
	border-radius: 0 $border-radius-medium $border-radius-medium 0;
	padding-left:100px;
	margin-left:-100px;
	margin-top:20px;
}
.inline {
	display: inline-block;
}
.center {
	text-align:center;
}
.button {
	border:none;
	border-radius:$border-radius-small;
	background-color:#7a7a7a;	
	text-align:center;
	padding-left:50px;
	padding-right:50px;
	color: white;
}

.word_wrap {
	white-space:normal;
	overflow-wrap: break-word;
   word-wrap: break-word;      /* IE */
}
