@import "bootstrap_config.scss";

.avatar_down {
	border-radius: $border-radius-medium 0 0 $border-radius-medium;
	border: solid 1px #777;
    margin-bottom:22px;
    margin-right:-10px;
}
.center {
	text-align:center;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.filled{
	background-color: #777777;
}
.inline {
	display: inline-block;
}
.padded {
	padding-top:10px;
	border-radius: 0 $border-radius-medium $border-radius-medium 0;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom:20px;
	padding-top:20px;
	margin-bottom:20px;
}