@import "bootstrap_config.scss";

.avatar_down {
	border-radius: $border-radius-small;
	border: solid 1px #777;
    margin-bottom:22px;
    float: left;
}

.user_profile_bar {
	background-color: #777;
	border-radius: $border-radius-small;
	text-align: center;
	padding: 20px;
	margin-left: 88px;
}

.padded {
	padding-top:10px;
	border-radius: 0 $border-radius-medium $border-radius-medium 0;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom:20px;
	padding-top:20px;
	margin-bottom:20px;
}